/* *{border: 1px solid red;} */
li{list-style: none;}
a{text-decoration: none;}
body{background-color: #F2F2EB;}

/*****************************************************************************/

#footer{background-color: #1675F2; margin-top: 34%;}

#footer1{display: flex; justify-content: center;}
#footer1 > ul{display: flex; }

#footer2{display: flex; justify-content: center;}
#footer3{display: flex; justify-content: center;}

#footer1ul > li {margin: 5px 10px 0px 10px;}

/**********************************************************************************/
h3{margin: 10px;}

#title{margin-bottom: 30px;}

#content{margin-bottom: 30px; padding: 100px;}

