#footer{background-color: #1675F2;}

#footer1{display: flex; justify-content: center;}
#footer1 > ul{display: flex;}

#footer2{display: flex; justify-content: center;}
#footer3{display: flex; justify-content: center;}